:root{
    --offset: 50px
}

body{
    height: 100%;
    width: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column;
}

.connexion-texte{
    position: relative;
    top: var(--offset);
    display: flex;
    justify-content: center; 
    padding: 10px; 
    margin: 0 auto; 
}
.connexion {
    position: relative;
    top: var(--offset);
    display: flex;
    flex-direction: column; 
    align-items: start;   
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 250px;
    margin: 10px auto; 
}
.connexion-prompt{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}
.connexion-input{
    margin: 10px 0 20px 0;
    width: 98%;  
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;  
}
.connexion-button{
    margin: -5px 0 0 0;
    width: 100%;  
    height: 40px;  
    font-size: 20px;
    background-color: green;
    color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 12px;
}
.connexion-button:hover {
    background-color: #017707;
}

.connexion-inscription{
    position: relative;
    top: var(--offset);
    display: flex;
    flex-direction: column; 
    align-items: start;   
    justify-content: center;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 250px;
    margin: 10px auto; 
}





.inscription-text{
    position: relative;
    display: flex;
    justify-content: right; 
    padding: 10px; 
    right: 25px;
    margin: 0 auto; 
}
.inscription {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: start;   
    padding: 20px; 
    border: 1px solid #ccc; 
    width: 50%;
    height: 100%;
    margin: 0px auto 0px auto; 
}
.inscription-form {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: start;   
    padding: 20px;  
    width: 60%;
    margin: 10px auto; 
}
.inscription-prompt{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}
.inscription-input{
    margin: 10px 0 20px 0;
    width: 98%;  
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    height: 30px;  
}
.inscription-button{
    margin: -5px 0 0 0;
    width: 100%;  
    height: 40px;  
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 12px;
}
.inscription-button:hover {
    background-color: #242424;
}
#repos-nom
{
    margin: 10px 0px 10px 5%; 
}
#contenant-fichier
{
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: start;   
    padding: 0px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 60%;
    margin: 10px 0px 100px 5%; 
}
#entête-commit
{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;   
    padding: 20px; 
    border-bottom: 1px solid #ccc; 
    width: 100%;
    margin: 0; 
}
.fichier
{
    position: relative;
    display: flex;
    flex-direction: row; 
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;   
    padding: 10px 20px 10px 20px; 
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9; 
    width: 100%;
    margin: 0; 
}

#contenu-fichier
{
    position: relative;
    white-space: pre;
    display: flex;
    flex-direction: column; 
    align-items: start;   
    padding: 0px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 75%;
    margin: 0px auto 100px auto; 
}
.texte
{
    margin: 25px;
}
#fichier-nom
{
    margin: 25px auto; 
}

.fil-ariane {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

.fil-ariane li {
  display: inline;
  font-size: 18px;
}

.fil-ariane li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.fil-ariane li a {
  color: #0275d8;
  text-decoration: none;
}

.fil-ariane li a:hover {
  color: #01447e;
  text-decoration: underline;
}