:root{
    --offset: 50px
}

body{
    height: 100%;
    margin: 0; 
}

.login-text{
    position: relative;
    top: var(--offset);
    display: flex;
    justify-content: center; 
    padding: 10px; 
    margin: 0 auto; 
}
.login {
    position: relative;
    top: var(--offset);
    display: flex;
    flex-direction: column; 
    align-items: start;   
    justify-content: center;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 250px;
    margin: 10px auto; 
}
.login-prompt{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}
.login-input{
    margin: 10px 0 20px 0;
    width: 98%;  
    border: 1px solid black;
    border-radius: 5px;
    height: 20px;  
}
.login-button{
    margin: -5px 0 0 0;
    width: 100%;  
    height: 40px;  
    font-size: 20px;
    background-color: green;
    color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 12px;
}
.login-button:hover {
    background-color: #017707;
}

.login-signup{
    position: relative;
    top: var(--offset);
    display: flex;
    flex-direction: column; 
    align-items: start;   
    justify-content: center;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 250px;
    margin: 10px auto; 
}