body{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0; 
    display: flex;
}

#repos {
    flex: 1;/*   20%   */
    padding: 20px; 
    border: 1px solid #ccc; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#suivi {
    flex: 1; /*   20%   */
    padding: 20px; 
    border: 1px solid #ccc; 
    margin: 0px 0px 0px auto;
}

#communaute {
    flex: 3;/*   20%*3   */
    padding: 20px; 
    border: 1px solid #ccc; 
    margin: 0px auto;
    display: flex;
    justify-content: center;   
}
#communaute p{
    font-size: 50px;
    color: red;
    margin: 0px;
}